.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: white;

}

textarea, input, select {
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit {
    margin: 10px 0;
}

input, textarea {
    width: 100%;
    resize: none;

}

label {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

span {
    margin: auto;
    margin-top: 10px;
    color: red;
    font-size: 20px;
}