.taskContainer {
    display: flex;
    flex-direction: column;
    align-items:  start;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.description{
    text-align: start;
    padding: 10px 36px;
    font-size: 20px;
    word-wrap: break-word;
    margin: 0;

}
.description h3, p{
    margin: 0;
    font-size: 20px;
}
.descriptionBtn{
    width: 10%;
    background-color: white;
}
.descriptionBtn img{
    width: 20px;
}
.taskContent {
    width: 100%;
    display: flex;
    align-items: center;

}
.panel{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.title{
    width: 35%;
}
.status{
    width: 35%;
}
.done{
    color: white;
    border: 1px solid green;
    background-color:green ;
}
.process{
    color: white;
    border: 1px solid orange;
    background-color:orange ;
}
.wait{
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
}
.close, .update{
    width:30px;
    height: 30px;
}
.close{
    background-image: url('../../../public/img/close.svg');
    background-size: 100%;
    background-color: rgba(0,0,0,0);
}
.update{
    background-image: url('../../../public/img/update.svg');
    background-size: 100%;
    background-color: rgba(0,0,0,0);
}