#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.toolContainer{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.addTask{
  padding: 10px;
  border:1px solid black;
}
