.listContainer{
    width: 1000px;

}
.headersOfItem{
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.listPanel{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.Description{
    width: 10%;
}
.listTitle{
    width: 35%;
}
.listStatus{
    width: 35%;
}
